.get-started-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}



::-webkit-scrollbar {
display:none
}


.backdrop-img {
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 10px;
  top:0;
  left:0;
  opacity:0.5;
  overflow: hidden;
  z-index: -1;
  .lazy-load-image-background{
  width: 100%;
  height: 100%;

}}

  /* img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  }    */

            
.opacity-layer {
  width: 100%;
  height:250px;
  background: linear-gradient(
    180deg,
    rgba(43, 94, 165, 0.017)0%,
    #010203 79.17%
  );
  position: absolute;
  bottom:0;
  left:0;
  top:55px;
  z-index: -1;
  }
   
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  height: 600px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.container img {
  width: 100%;
  height: 500px;
}

.hero-text {
  width: 80%;
}

.hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 12px;
  color: #251abd;
}

.hero-text p {
  font-size: 1.4rem;
  margin-bottom: 12px;
}
/* Media queries */
@media (max-width: 1255px) {
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 884px) {
  .container {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 678px) {
  .hero-text h1 {
    font-size: 2rem;
  }
}
        