.card-title-popular {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.swiper {
  width: 100%;
  min-height: 400px;
}

/* class will only be applied once for initial animation */
/* .animate-slide {
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */

/* define how each slide should position and behave within Swiper */
/* indiviual movie card styling */
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 0px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper-slide h3 {
  font-size: 1.2rem;
}

.swiper-slide p {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* max number of text lines to show i think */
  -webkit-box-orient: vertical;
}

/* Navigation buttons*/
.swiper-button-prev,
.swiper-button-next {
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
