styles for outer most edge cards
.swiper-slide {
  opacity: 0.5;
  /* transform: scale(0.7); */
  z-index: 1;
  transition: all 0s ease;
}

/* Styles for left slide of center active slide*/
.swiper-slide.swiper-slide-prev {
  opacity: 0.7;
  /* transform: scale(0.85); */
  z-index: 2;
  transition: all 0s ease;
}

/* Styles for the center active slide */
.swiper-slide.swiper-slide-active {
  opacity: 1;
  /* transform: scale(1); */
  z-index: 3;
  transition: all 0s ease;
}

/* Styles for right slide of center active slide*/
.swiper-slide.swiper-slide-next {
  opacity: 0.7;
  /* transform: scale(0.9); */
  z-index: 2;
  transition: all 0s ease;
}