.useraccount,
.genreprefs {
  margin-top: 10vh;
}

.account-link:hover {
  text-decoration: underline;
}

.genrepref-link:hover {
  text-decoration: underline;
}

.watched-link:hover {
  text-decoration: underline;
}

.useraccount a {
  text-decoration: none;
  color: black;
}

.useraccount,
.user-pref-h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.user-account-container,
.acc-genrepref-container,
.user-watched-container {
  display: flex;
  flex-direction: row;
}

.useracc-left-nav {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.user-account-h1 {
  margin: 0px 30px 20px;
}

.useracc-left-nav a {
  padding-bottom: 10px;
}

.useracc-right-main {
  margin-left: 5vw;
}

.p-heading {
  margin-top: 0px;
}
.user-section {
  background-color: #f4f4f4;
  border-radius: 0.3571428571rem;
  padding: 20px 10px 10px;
  margin-bottom: 10px;
  width: 70vw;
}
.user-section > p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.useracc-info {
  padding-bottom: 10px;
}
