.useraccount,
.acc-genrepref-container {
  margin-top: 10vh;
}

.user-account-container {
  display: flex;
  flex-direction: row;
}

.useracc-left-nav {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.user-account-h1 {
  margin: 0px 30px 20px;
}

.useracc-left-nav a {
  padding-bottom: 10px;
}

.useracc-right-main {
  margin-left: 10vw;
}

.p-heading {
  margin-top: 0px;
}
.user-section {
  background-color: #f4f4f4;
  border-radius: 0.3571428571rem;
  padding: 20px 10px;
  margin-bottom: 10px;
  width: 70vw;
}
.user-section > p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.useracc-info {
  padding-bottom: 20px;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
} */
