/* body {
  margin: 0;
  background: #04476e;
  background: linear-gradient(to left, #04476e 0%, #010d3ac2 100%);
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
} */

header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1iedjqa-MuiPaper-root-MuiAppBar-root {
  position: relative;
}

.header-container form {
  background: white;
  padding: 5px;
}

.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #a7cfdf;
  background: linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
}

.register-container {
  width: 100%;
  max-width: 600px;
}

.useraccount {
  margin-top: 1vh;
}

.user-account-container {
  display: flex;
  flex-direction: row;
}

.useracc-left-nav {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.user-account-h1 {
  margin: 0px 30px 20px;
}

.useracc-left-nav a {
  padding-bottom: 10px;
}

.useracc-right-main {
  margin-left: 10vw;
}

.p-heading {
  margin-top: 0px;
}
.user-section {
  background-color: #f4f4f4;
  border-radius: 0.3571428571rem;
  padding: 20px 10px;
  margin-bottom: 10px;
  width: 70vw;
}
.user-section > p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.useracc-info {
  padding-bottom: 20px;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
} */
